doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DSI
        link(rel="stylesheet", href="css/main.css")
    body 
        header
            .logo 
                span D 
                span S 
                span I
                    .righttext
                        span DWIDASA 
                        br
                        span SAMSARA 
                        br
                        span INDONESIA

            .links 
                each name in ['Services', 'Product', 'Technology', 'About', 'Client', 'Partner']
                    a(href="#")= name
                    img(src="img/arrow_down.png", alt="")
                    
                    


            .imglinks
                img(src="img/home.png", alt="")
                img(src="img/mail.png", alt="")
                img(src="img/shuffle.png", alt="")

    .firstcontent
        .content
            .leftblock 
                p Making the most of the ever-growing 
                p Information Technology
                p Managed by a team of professional experts with extensive experience and impressive track records
                button Read More
            .rightblock
                img(src="img/deviceman.png", alt="")

    .secondcontent
        img(src="img/workman.png", alt="")
        .rightblock
            p Welcome to #[span Dwidasa Samsara Indonesia (DSI)]
            p Dwidasa Samsara Indonesia (DSI) was firstly established in 2010 by the founders, who each of them has a common end objective to innovate new creations by making the most of the ever-growing information technology through #[span DSI]’s distinct front-end based application concept.
            p Managed by a team of professional experts with extensive experience and impressive track records, #[span DSI] believes that continuous improvements and innovations assure your business to run effectively and efficiently.

    .thirdcontent
        p Product and Service 
            .row
                .column 
                    img(src="img/product.png", alt="")
                    p Our Product 
                    p Our product is made on the base of our team’s careful research and analyses, ranging from internet based application.
                    button Read More
                .column 
                    img(src="img/service.png", alt="")
                    p Our Product 
                    p DSI’s shared service solutions focus on the front-end based software development, designed specifically for the banking and financial sectors.
                    button Read More
                .column 
                    img(src="img/technology.png", alt="")
                    p Our Product 
                    p First JAVA, runs on more than 850 million personal computers worldwide, and on billions of devices worldwide, including mobile and TV devices.
                    button Read More