@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin button(){
    button {
        width: 161px;
        height: 53px;
        border-radius: 4px;
        background-color: #EE4248;
        box-shadow: 1px 2px 4px 0 #00000040;
        font-size: 20px;
        line-height: 28.94px;
        color: white;
        margin-top: 30px;
    }
}

@mixin logo($margin){
    .logo {
        font-size: 75px;
        font-weight: 900;
        margin-top: $margin;
        span {
            margin: 0 -11px;
            &:nth-child(1) {
                color: #85171a;
            }
            &:nth-child(2) {
                color: #dc2025;
            }
            &:nth-child(3) {
                color: #feba08;
            }
        }

        .righttext {
            font-size: 16px;
            position: relative;
            width: 48px;
            left: 110px;
            bottom: 72px;

            span {
                font-weight: 500;
                &:nth-child(1) {
                    letter-spacing: 2px;
                    color: #00000099;
                }
                &:nth-child(3) {
                    letter-spacing: 1.2px;
                    color: #263238CC;
                }
                &:nth-child(5) {
                    color: #263238;
                }
            }
        }
    }
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #1F2E35CC;
}

button {
    border: none;
}

header {
    height: 100px;
    box-shadow: 0 1px 4px 0 #00000040;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include logo(140px);

    .links {
        a {
            margin-left: 40px;
        }

        img {
            display: none;
            margin-left: 10px;
            margin-bottom: 1px;
            cursor: pointer;
            &:nth-child(8) {
                display: inline-block;
            }
            &:nth-child(10) {
                display: inline-block;
            }
        }
    }

    .imglinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        height: 16px;

        img {
            cursor: pointer;

            &:nth-child(1) {
                height: 18.59px;
            }
        }
    }
}

.firstcontent {
    height: 651px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 1125px;
        height: 500px;
        display: flex;

        .leftblock {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-size: 48px;
                line-height: 64.17px;
                color: #1F2E35;
                font-weight: 700;

                &:nth-child(2) {
                    color: #EE4248;
                }
                &:nth-child(3) {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28.94px;
                    margin-top: 20px;
                }
            }
            @include button();
        }

        .rightblock {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 562.97px;
                height: 381.61px;
            }
        }


    }
}

.secondcontent {
    width: 1339px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 570px;
        height: 442px;
    }

    .rightblock {
        width: 520px;
        height: 380px;
        margin-right: 200px;

        p {
            &:nth-child(1) {
                font-size: 32px;
                line-height: 42.78px;
                font-weight: 500;
                color: #1F2E35;

                span {
                    color: #EE4248;
                }
            }

            &:nth-child(1n+2) {
                font-size: 18px;
                line-height: 27px;
                color: #30444E;
                margin-top: 25px;

                span {
                    color: #EE4248;
                }
            }
        }
    }
}

.thirdcontent {
    width: 1126px;
    height: 459px;
    margin-left: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: 500;
        font-size: 32px;
        line-height: 42.78px;
        color: #1F2E35;
    }

    .row {
        width: 100%;
        height: 90%;
        display: flex;
        margin-top: 20px;
    }

    .column {
        padding: 10px 10px 10px 10px;

        img {
            width: 80px;
            height: 80px
        }

        p {
            font-size: 28px;
            margin-top: 15px;
            
            &:nth-child(2) {
                color: #EE4248;
            }
            &:nth-child(3) {
                color: #30444E;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
    @include button();
}

.fourthblock {
    width: 1126px;
    height: 188px;
    margin-left: 110px;
    display: flex;
    margin-top: 100px;

    .column {
        
        &:nth-child(1) {
            @include logo(0);
            width: 317px;
            height: 100%;
            margin-left: 10px;

            .inner {
                width: 317px;
                height: 50%;
                position: relative;
                bottom: 150px;

                p {
                    font-size: 18px;

                    &:nth-child(1) {
                        color: #263238;
                        line-height: 21.09px;
                        font-weight: 500;
                    }
                    &:nth-child(2) {
                        margin-top: 10px;
                        color: #263238;
                        width: 317px;
                    }
                }
            }
        }

        &:nth-child(2) {
            width: 71%;
            height: 100%;

            p {
                font-size: 18px;
                line-height: 26.85px;
                color: #263238;
                margin-left: 20px;

                &:nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
            }
        }
        
    }

    
}
